body {
    background-image: url("../img/img_fundo.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 1280px;
    background-position: center;
}

.content {
    width: 1280px;
    max-height: 1708px;
    /* height: 1708px; */
    margin:auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
  }

#github {
    color: #E9BB73; 
    font-size: 24px; 
    font-family: Kadwa; 
    font-weight: 700; 
    word-wrap: break-word
}

#logo {
    width: 188px;
    height: 186px;
}

#textoHeader {
    color: var(--Azul, #1B446D);
    font-family: Kadwa;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-align: center;
}

a, nav {
    text-decoration: none;
    color: unset;
}

#textoNav {
    display: flex;
    gap: 33px;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
    color: var(--Amarelo, #E9BB73);
    font-family: Kadwa;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
}

.flex-container-main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 10px;
    padding: 20px; */
}

.mainText {
    /* width: 1064px; */
    margin: 0px 50px 0px 50px;
    height: auto;
    border-radius: 15px;
    background: var(--Branco, #FFF);
    padding: 20px;
}

h1 {
    color: var(--Azul, #1B446D);

    /* H1 */
    font-family: Kadwa;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
}

h2 {
    color: var(--Preto, #000);

    /* H2 */
    font-family: Kadwa;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

p {
    color: var(--Preto, #000);

    /* Texto */
    font-family: Kadwa;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    color: var(--Azul, #1B446D);

    /* Link */
    font-family: Kadwa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

img {
    /* width: 1064px; */
    max-width: 1064px;
    margin: 0px 50px 0px 50px;
    /* border-radius: 15px; */
    /* padding: 20px; */
    object-fit:inherit;
  }